<mat-dialog-content>

      <div class="row row-1">
            <div class="container">
                  <div class="smallContainer card col-md-12 m-6">
                        <form [formGroup]="EditForm" class="row g-3">
                              <h2 class="col-md-12">EditTypeDetails</h2>


                              <div class="dev">
                                    <div class="row col-md-12 m-1">
                                          <div class="col-md-6">
                                                <label for="typeName" class="form-label">
                                                      TypeName:<sup class="text-danger">*</sup></label>

                                                <input type="text" class="form-control" id="typeName"
                                                      formControlName="typeName" />

                                          </div>


                                          <div class="inlineContainer col-12 row m-2">
                                                <div class="label col-12 button">
                                                      <button type="button" class="btn btn-primary"
                                                            (click)="updateDetails1()">
                                                            Update
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </form>

                  </div>
            </div>
      </div>



</mat-dialog-content>