.col-md-6{

    width: auto;
    text-align: center;
display: block;
float: left;

}
.col{
    padding-bottom: 10px;
}

.header-card[_ngcontent-uly-c9] {
    padding: 20px !important;
    background-color: #dee2e6 !important;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc !important;
    width: 100% !important;
   


}
    
    .cardfornotice[_ngcontent-ymf-c9] {
        background-color: #ffffff !important;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px !important;
        padding: 8px !important;
        /* border: 1px solid #dddddd; */
        /* margin-bottom: 0px; */
        background-color: rgb(127, 124, 132) !important;
        color: rgb(163, 35, 35) !important;
        HEIGHT: 40PX !important;
    }