<div class="card">
    <div class="NewCard">
      <ng-container *ngFor="let item of userDatalist; let i = index">
        <div *ngIf="i === 0" class="item-containerLogo">
          <div class="logo-container">
            <img
              [src]="'data:image/jpeg;base64,' + item.logofile"
              alt="LogoImage"
              class="LogoImage"
            />
          </div>
          <div class="header-card">
            <h1>{{ item.businessname }}</h1>
          </div>
        </div>
      </ng-container>
  
      <div class="cardfornotice">
        <!-- <ng-container *ngFor="let item of userDatalist2"> -->
        <div
          class="marquee-container"
          style="display: flex; justify-content: center"
        >
          <marquee
            behavior="scroll"
            direction="left"
            style="font-size: 18px; padding-top: 10px"
          >
            {{ userDatalist2 }}
          </marquee>
        </div>
      </div>
  
   
  
      <div class="main">
      
        <div>
          <div class="card NewCard">
            <ng-container *ngFor="let item of userDatalist | unique : 'typeName'">
              <ng-container *ngIf="!buttonExists(item.typeName)">
                <div (click)="toggleList(item.typeid)" class="itemButtons">
                  {{ item.typeName }}
                </div>
                <div *ngIf="showList === item.typeid" class="items">
                                   
                  <div class="row" id="color">
                    <div
                      class="col-md-6 mb-3"
                      *ngFor="let filteredItem of getFilteredItems(item.typeid)"
                    >
                      <div class="card">
                   

                        <div class="row no-gutters" id="gettinglist1">
                         
                            <div class="flex-container">
                              <!-- Your existing image and text content goes here -->
                              <img [src]="filteredItem.itemimage | imageFallback: filteredItem.logofile" class="card-img" alt="Image" />
                              <div class="card-body">
                                <p class="card-title">Item Name: {{ filteredItem.itemName }}</p>
                                <p class="card-text">Price:&#8377;  {{ filteredItem.price }}</p>
                                <p class="card-text">Description: {{ filteredItem.description }}</p>
                                 
                                <div (click)="opentype()" class="addtypebutton">
                                  <button style="color: black;" (click)="imageclcik(filteredItem.itemid)">ViewMoreImages</button>
                                </div>
                                
                                <div class="overlay" *ngIf="showTypeNamePopup">
                                  <div class="view-image-content">
                                    <div class="close-view-buttontypename" (click)="closeaddPopup()">
                                      <i class="fas fa-times" style="font-size: 20px"></i>
                                    </div>
                                    <br>
                                   
                                     
                                     <div *ngIf="viewImages">
                                      <!-- <h2>Item Name: {{ itemName }}</h2>
                                      <p>Price: {{ price }}</p>
                                      <p>Description: {{ description }}</p>
                                     -->
                                     <carousel  [interval]="2000">
                                      <slide *ngFor="let image of viewImages">
                                        <img [src]="'data:image/jpeg;base64,' + image.images" alt="Image" class="image-container" />
                                       
                                      </slide>
                                    </carousel>
                                  </div>
                                    
                                    <div *ngIf="!viewImages">
                                      <p>Loading data...</p>
                                    </div>
                                    
                                    
                                    
                                  </div>
                                </div>
                                
                                
                                



                              </div>
                            </div>
                           </div>
                          </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  
    <div class="powered-by">
      Powered By
      <a href="https://www.aptits.com/Home" target="_blank" rel="noreferrer"
        >API IT Solutions</a
      >
    </div>
  
    <div class="containerlogo">
      <img src="\assets\images\aptitlogo.png" alt="Logo" class="logo-image" />
    </div>
  </div>
  
  