/* You can add global styles to this file, and also import other style files */
.button[_ngcontent-rer-c1] {
  margin-bottom: 7px !important;
  width: 100% !important;
}
.typebuttons {
  width: 100%;
  height: 74px;
  margin: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-dialog-content {
  max-height: 139vh !important;
}